.markdown-body {
    color: #afbac4;
}

.markdown-body hr {
    border-bottom: 1px solid #afbac4;
    background-color: #afbac4;
}

.markdown-body blockquote {
    padding: 0.25em 1em;
    color: #afbac4;
    border-left: 0.25em solid #afbac4;
    border-radius: 0.25em;
}

.markdown-body table th {
    border: 1px solid #5b6067;
}
.markdown-body table td {
    border: 1px solid #5b6067;
}
.markdown-body table tr {
    background-color: inherit;
    border-top: 1px solid #5b6067;
}
.markdown-body table tr:nth-child(2n) {
    background-color: #fff1;
}

.markdown-body code {
    background-color: rgba(27,31,35,0.2);
}

.gt-container a {
    color: #75a5be;
}
.gt-container a:hover {
    color: #8cbeda;
    border-color: #8cbeda;
}

.gt-container .gt-svg {
    fill: #75a5be;
}
.gt-container .gt-svg svg {
    fill: #75a5be;
}

.gt-container .gt-avatar {
    margin-top: 0.5em;
}

.gt-container .gt-avatar img {
    border-radius: 50%;
}

.gt-container .gt-btn {
    border: 0px solid;
    border-radius: 15px;
    background-color: #424850;
    color: #afbac4;
}

.gt-container .gt-btn-preview {
    background-color: #434a53;
    color: #afbac4;
}
.gt-container .gt-btn-preview:hover {
    background-color: #434a53;
    color: #afbac4;
}
.gt-container .gt-btn-public:hover {
    background-color: #434a53;
    color: #afbac4;
}

.gt-container .gt-link {
    border-bottom: none;
}
.gt-container .gt-meta {
    border-bottom: 1px solid #424850;
}

.gt-container .gt-version {
    color: #fff6;
}
.gt-container .gt-copyright {
    border-top: 1px solid #fff2;
}
.gt-container .gt-popup {
    background: #424850;
    box-shadow: #0002 0 10px 10px;
    border: none;
    border-radius: 10px;
}

.gt-container .gt-header-textarea {
    min-height: 3.125em;
    border-radius: 10px;
    border: 0px solid;
    background-color: #424850;
    color: #afbac4;
    caret-color: white;
}

.gt-container .gt-header-textarea:hover {
    background-color: #424850;
}

.gt-container .gt-header-preview {
    background-color: #424850;
}

.gt-container .gt-header-controls-tip {
    color: #75a5be;
}

.gt-container .gt-comments {
    padding-top: 0.5em;
}

.gt-container .gt-comment-content {
    margin-left: 1em;
    padding: 0.625em 1em;
    background-color: #424850;
    border-radius: 10px;
}
.gt-container .gt-comment-content:hover {
    box-shadow: none;
}

.gt-container .gt-comment-username {
    color: #75a5be;
}
.gt-container .gt-comment-username:hover {
    text-decoration: none;
}

.gt-container .gt-comment-text {
    color: #fff6;
}

.gt-container .gt-comment-date {
    color: #fff6;
}

.gt-container .gt-comment-body {
    color: #afbac4 !important;
}

.gt-container .gt-comment-admin .gt-comment-content {
    background-color: #424850;
  }