.post-title {
  margin: 0.6em 0;
  color: $lightest-color;
  font-size: 2.0em;
}

.post-meta > div {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-family: sans-serif;

  > .icon {
    margin-right: 0.4em;
  }
}

.post-content {
  & > pre,
  .highlight {
    margin: 1em 0;
  }

  & > pre,
  .highlight > pre,
  .highlight > div {
    overflow: auto;
    word-break: break-all;
    white-space: pre-wrap;
    border-left: 0.4em solid rgba($primary-color, .8);
    padding: 1em 1em;
  }

  blockquote {
    border-left: 0.4em solid rgba($light-color, .8);
    margin: 1em 0em;
    padding: .5em 1em;
    background: $gray-color;

    p {
      margin: .5em 0;
    }
  }

  img {
    max-width: 100%;
  }
}
