{{ if not (.Page.Scratch.Get "linkCount") }}
<style>
    .link-item {
        margin: 10px 10px 10px 10px;
    }
    .link-url {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        min-height: 40px;
        border-radius: 20px;
        color: #afbac4
    }
    .link-avatar {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: none;
    }
    .link-info {
        padding: 0 8px;
        flex-grow: 1;
        text-align: left;
        line-height: 40px;
    }
    .link-desc {
        opacity: 50%;
    }
</style>
{{ end }}
<li class="link-item">
    <a class="link-url" {{ with .Get "url" }} href="{{ . }}" {{ end }}>
        <img class="link-avatar" {{ with .Get "avatar" }} src="{{ . }}" {{ end }} />
        <div class="link-info" >
            <span class="link-name">
                {{ with .Get "name" }} {{ . }} {{ end }}
            </span>
            <span class="link-desc">
                {{ with .Get "desc" }} - {{ markdownify . }} {{ end }}
            </span>
        </div>
    </a>
</li>
{{ .Page.Scratch.Add "linkCount" 1 }}
